{
  "openapi": "3.1.0",
  "info": {
    "title": "WaAPI API",
    "description": "WaAPI is a simple API gateway for sending WhatsApp messages. On top of that, you are able to fully control your virtual WhatsApp application just by sending simple REST API requests.",
    "version": "v1.6.0"
  },
  "servers": [
    {
      "url": "https://waapi.app/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "instances",
      "description": "Operations related to managing WhatsApp instances."
    },
    {
      "name": "client",
      "description": "Operations related to the WhatsApp client within an instance."
    },
    {
      "name": "message",
      "description": "Operations related to sending and managing messages."
    },
    {
      "name": "chat",
      "description": "Operations related to managing chats."
    },
    {
      "name": "contact",
      "description": "Operations related to managing contacts."
    },
    {
      "name": "number",
      "description": "Operations related to number formating."
    },
    {
      "name": "group",
      "description": "Operations related to group management."
    },
    {
      "name": "channel",
      "description": "Operations related to Channel management."
    },
    {
      "name": "label",
      "description": "Operations related to Label management."
    },
    {
      "name": "story",
      "description": "Operations related to stories"
    }
  ],
  "paths": {
    "/instances": {
      "get": {
        "tags": [
          "instances"
        ],
        "summary": "list instances",
        "description": "Retrieve a list of your instances.",
        "parameters": [
          {
            "name": "filter",
            "description": "Filter instances by ID or name",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A JSON array of instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "My first instance"
                          },
                          "owner": {
                            "type": "string",
                            "example": "mail@example.com"
                          },
                          "webhook_url": {
                            "type": "string",
                            "example": "https://my.url.com/webhook/handler"
                          },
                          "webhook_events": {
                            "type": "array",
                            "example": [
                              "message",
                              "qr"
                            ],
                            "items": {
                              "type": "string",
                              "example": "message"
                            },
                            "enum": [
                              "message",
                              "loading_screen",
                              "qr",
                              "authenticated",
                              "auth_failure",
                              "ready",
                              "disconnected",
                              "message_create",
                              "message_edit",
                              "message_revoke_everyone",
                              "message_revoke_me",
                              "message_ack",
                              "message_reaction",
                              "media_uploaded",
                              "group_join",
                              "group_leave",
                              "group_update",
                              "change_state",
                              "call",
                              "vote_update"
                            ]
                          },
                          "is_trial": {
                            "type": "boolean",
                            "example": 0
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "instances"
        ],
        "summary": "create instance",
        "description": "Create a new instance",
        "responses": {
          "200": {
            "description": "A JSON array instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "example": "My first instance"
                        },
                        "owner": {
                          "type": "string",
                          "example": "mail@example.com"
                        },
                        "webhook_url": {
                          "type": "string",
                          "example": "https://my.url.com/webhook/handler"
                        },
                        "webhook_events": {
                          "type": "array",
                          "example": [
                            "message",
                            "qr"
                          ],
                          "items": {
                            "type": "string",
                            "example": "message"
                          },
                          "enum": [
                            "message",
                            "loading_screen",
                            "qr",
                            "authenticated",
                            "auth_failure",
                            "ready",
                            "disconnected",
                            "message_create",
                            "message_edit",
                            "message_revoke_everyone",
                            "message_revoke_me",
                            "message_ack",
                            "message_reaction",
                            "media_uploaded",
                            "group_join",
                            "group_leave",
                            "group_update",
                            "change_state",
                            "call",
                            "vote_update"
                          ]
                        },
                        "is_trial": {
                          "type": "boolean",
                          "example": 0
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}": {
      "get": {
        "tags": [
          "instances"
        ],
        "summary": "retrieve instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Retrieve a single instance by its ID",
        "responses": {
          "200": {
            "description": "json representation if your instance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 1
                          },
                          "name": {
                            "type": "string",
                            "example": "My first instance"
                          },
                          "owner": {
                            "type": "string",
                            "example": "mail@example.com"
                          },
                          "webhook_url": {
                            "type": "string",
                            "example": "https://my.url.com/webhook/handler"
                          },
                          "webhook_events": {
                            "type": "array",
                            "example": [
                              "message",
                              "qr"
                            ],
                            "items": {
                              "type": "string",
                              "example": "message"
                            },
                            "enum": [
                              "message",
                              "loading_screen",
                              "qr",
                              "authenticated",
                              "auth_failure",
                              "ready",
                              "disconnected",
                              "message_create",
                              "message_edit",
                              "message_revoke_everyone",
                              "message_revoke_me",
                              "message_ack",
                              "message_reaction",
                              "media_uploaded",
                              "group_join",
                              "group_leave",
                              "group_update",
                              "change_state",
                              "call",
                              "vote_update"
                            ]
                          },
                          "is_trial": {
                            "type": "boolean",
                            "example": 0
                          }
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "instances"
        ],
        "summary": "update instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Update the instance.",
        "requestBody": {
          "description": "To reset the value, apply `null` for `url` or `[]` for `events`",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My first instance"
                  },
                  "webhook": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "example": "https://my.url.com/webhook/handler"
                      },
                      "events": {
                        "type": "array",
                        "example": [
                          "message",
                          "qr"
                        ],
                        "items": {
                          "type": "string",
                          "example": "message"
                        },
                        "enum": [
                          "message",
                          "loading_screen",
                          "qr",
                          "authenticated",
                          "auth_failure",
                          "ready",
                          "disconnected",
                          "message_create",
                          "message_edit",
                          "message_revoke_everyone",
                          "message_revoke_me",
                          "message_ack",
                          "message_reaction",
                          "media_uploaded",
                          "group_join",
                          "group_leave",
                          "group_update",
                          "change_state",
                          "call",
                          "vote_update"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "returns the updated instance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "items": {
                            "type": "string",
                            "example": "success"
                          },
                          "enum": [
                            "success",
                            "error"
                          ]
                        },
                        "instanceId": {
                          "type": "string",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "example": "My first Instance"
                        },
                        "data": {
                          "type": "object",
                          "example": null
                        },
                        "instanceStatus": {
                          "type": "string",
                          "items": {
                            "type": "string",
                            "example": "booting"
                          },
                          "enum": [
                            "booting",
                            "loading_screen",
                            "qr",
                            "authenticated",
                            "auth_failure",
                            "ready",
                            "disconnected"
                          ]
                        },
                        "instanceWebhook": {
                          "type": "string",
                          "example": "https://my.url.com/webhook/handler"
                        },
                        "instanceEvents": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "example": [
                              "message",
                              "qr"
                            ],
                            "items": {
                              "type": "string",
                              "example": "message"
                            },
                            "enum": [
                              "message",
                              "loading_screen",
                              "qr",
                              "authenticated",
                              "auth_failure",
                              "ready",
                              "disconnected",
                              "message_create",
                              "message_edit",
                              "message_revoke_everyone",
                              "message_revoke_me",
                              "message_ack",
                              "message_reaction",
                              "media_uploaded",
                              "group_join",
                              "group_leave",
                              "group_update",
                              "change_state",
                              "call",
                              "vote_update"
                            ]
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://waapi.app/api/v1/instances/1"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "instances"
        ],
        "summary": "delete instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "delete an instance by ID",
        "responses": {
          "204": {
            "description": "No Content."
          }
        }
      }
    },
    "/instances/{id}/client/status": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "client status of instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "retrieve the status of your running client",
        "responses": {
          "200": {
            "description": "Client Status Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clientStatus": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "items": {
                            "type": "string",
                            "example": "success"
                          },
                          "enum": [
                            "success",
                            "error"
                          ]
                        },
                        "instanceId": {
                          "type": "string",
                          "example": 1
                        },
                        "name": {
                          "type": "string",
                          "example": "My first Instance"
                        },
                        "data": {
                          "type": "object",
                          "example": null
                        },
                        "instanceStatus": {
                          "type": "string",
                          "items": {
                            "type": "string",
                            "example": "booting"
                          },
                          "enum": [
                            "booting",
                            "loading_screen",
                            "qr",
                            "authenticated",
                            "auth_failure",
                            "ready",
                            "disconnected"
                          ]
                        },
                        "instanceWebhook": {
                          "type": "string",
                          "example": "https://my.url.com/webhook/handler"
                        },
                        "instanceEvents": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "example": [
                              "message",
                              "qr"
                            ],
                            "items": {
                              "type": "string",
                              "example": "message"
                            },
                            "enum": [
                              "message",
                              "loading_screen",
                              "qr",
                              "authenticated",
                              "auth_failure",
                              "ready",
                              "disconnected",
                              "message_create",
                              "message_edit",
                              "message_revoke_everyone",
                              "message_revoke_me",
                              "message_ack",
                              "message_reaction",
                              "media_uploaded",
                              "group_join",
                              "group_leave",
                              "group_update",
                              "change_state",
                              "call",
                              "vote_update"
                            ]
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://waapi.app/api/v1/instances/1/client/status"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/qr": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "retrieve QR Code",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Retrieves a base64 encoded QR code image that can be used to authenticate and connect a WhatsApp account to this instance. The QR code should be scanned using the WhatsApp mobile app to complete authentication.",
        "responses": {
          "200": {
            "description": "Successfully retrieved QR code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qrCode": {
                      "description": "Base64 encoded QR code image and associated metadata",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "items": {
                            "type": "string",
                            "example": "success"
                          },
                          "enum": [
                            "success",
                            "error"
                          ]
                        },
                        "instanceId": {
                          "type": "string",
                          "example": 1
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "qr_code": {
                              "type": "string",
                              "example": "data:image/png;base64,iVBORw0KGgoAA...AAAElFTkSuQmCC"
                            }
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://waapi.app/api/v1/instances/1/client/qr",
                          "description": "URL of this QR code endpoint"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ],
                      "description": "Status of the QR code request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/me": {
      "get": {
        "tags": [
          "client"
        ],
        "summary": "retrieve basic client information",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "retrieve general information of the whatsapp user conntected to your instance",
        "responses": {
          "200": {
            "description": "A JSON array instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "qrCode": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "items": {
                            "type": "string",
                            "example": "success"
                          },
                          "enum": [
                            "success",
                            "error"
                          ]
                        },
                        "instanceId": {
                          "type": "string",
                          "example": 1
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "displayName": {
                              "type": "string",
                              "example": "Username"
                            },
                            "contactId": {
                              "type": "string",
                              "example": "<xxxxx>@c.us"
                            },
                            "formattedNumber": {
                              "type": "string",
                              "example": "+xx xx xxx xx xx"
                            },
                            "profilePicUrl": {
                              "type": "string",
                              "example": "https://pps.whatsapp.net/v/<profileImageUrl>"
                            }
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://waapi.app/api/v1/instances/1/client/me"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/action/send-message": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Send a text message to a chat",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Send a text message to a chat. The chatId format varies depending on the chat type:\n- Individual chat: {phone_number}@c.us (e.g. 491234567890@c.us)\n- Group chat: {group_id}@g.us (e.g. 123456789-123456789@g.us)\n- Channel/Newsletter: {channel_id}@newsletter (e.g. 123456789@newsletter)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "message"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "example": "50664083362@c.us",
                    "description": "Chat ID <countrycode_short><usernumber>@c.us or @g.us for groups"
                  },
                  "message": {
                    "type": "string",
                    "example": "Hello @1234567890, how are you?",
                    "description": "Text message to send. Can include @123456789 for group chats."
                  },
                  "mentions": {
                    "type": "array",
                    "example": [
                      "1234567890@c.us"
                    ],
                    "items": {
                      "type": "string",
                      "description": "Contact ID to mention. Format: {phone_number}@c.us",
                      "pattern": "^[0-9]+@c\\.us$"
                    },
                    "description": "Optional array of contact IDs to mention. Only works in group chats. Make sure to include @123456789 in the message text."
                  },
                  "replyToMessageId": {
                    "type": "string",
                    "example": "true_491234567890@c.us_3EB0123456789ABCDEF",
                    "description": "Optional message ID to reply to. Format: {fromMe}_{chatId}_{messageId}"
                  },
                  "previewLink": {
                    "type": "boolean",
                    "example": true,
                    "default": true,
                    "description": "Whether to show link previews in the message. Defaults to true."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "instanceId": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "object",
                              "properties": {
                                "fromMe": {
                                  "type": "boolean"
                                },
                                "remote": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "_serialized": {
                                  "type": "string"
                                }
                              }
                            },
                            "body": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "t": {
                              "type": "integer"
                            },
                            "from": {
                              "type": "object"
                            },
                            "to": {
                              "type": "object"
                            },
                            "ack": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "status": "success",
                    "instanceId": "1",
                    "data": {
                      "_data": {
                        "id": {
                          "fromMe": true,
                          "remote": "1234567890@c.us",
                          "id": "3EB0123456789ABCDEF",
                          "_serialized": "true_1234567890@c.us_3EB0123456789ABCDEF"
                        },
                        "body": "Hello @1234567890, how are you?",
                        "type": "chat",
                        "t": 1733207534,
                        "from": {
                          "server": "c.us",
                          "user": "987654321",
                          "_serialized": "987654321@c.us"
                        },
                        "to": {
                          "server": "c.us",
                          "user": "1234567890",
                          "_serialized": "1234567890@c.us"
                        },
                        "ack": 0
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/action/send-media": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Send a media message (image, video, audio, document)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Send a media message (image, video, audio, document) to a chat. The chatId format varies depending on the chat type:\n- Individual chat: {phone_number}@c.us (e.g. 123456789@c.us)\n- Group chat: {group_id}@g.us (e.g. 123456789-123456789@g.us)\n- Channel/Newsletter: {channel_id}@newsletter (e.g. 123456789@newsletter)\n\nSupported media types:\n- Images: jpg, jpeg, png, gif\n- Videos: mp4, 3gp, mov\n- Audio: mp3, wav, ogg, m4a\n- Documents: pdf, doc, docx, txt, xlsx, etc",
        "requestBody": {
          "description": "Media can be sent either via URL or Base64. For Base64 media, a filename is required.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "example": "50664083362@c.us",
                    "description": "Chat ID <countrycode_short><usernumber>@c.us or @g.us for groups"
                  },
                  "mediaUrl": {
                    "type": "string",
                    "example": "https://tmp.waapi.app/ce81b23e5ac34a428c79705a08ea9f51:waapi/static/logo.png",
                    "description": "URL of the media file to send"
                  },
                  "mediaBase64": {
                    "type": "string",
                    "example": "iVBORw0KGgoAAAANSUhEUgAAAMAAAADACAYAAABS3GwHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH5wEMDSUFIGKgqQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMy0wMS0xMlQxMzozNTo0OSswMDowMKzczh4AAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjMtMDEtMTJUMTM6MzU6NDkrMDA6MDDdgXaiAAAAL3RFWHRDb21tZW50AEdJRiByZXNpemVkIG9uIGh0dHBzOi8vZXpnaWYuY29tL3Jlc2l6ZaI7uLIAAAASdEVYdFNvZnR3YXJlAGV6Z2lmLmNvbaDDs1gAADjASURBVHja7Z13nFxV2ce/507Z3rI1my3pm94bJDSBgEFAEUT0RRRfBQFRVLCjFBugCDZ8pSkI0gQTeogQEkgvm963Z5PtvczMvef9487sbja7mTuzM3PvbPLjc8jszC3POef5nfKc5zxHcAZ+4SieAt1A7IA/K0AiMALIAUYBed5/RyLI9P6WAiQAcUAMYAdsfZ6jInEDLqATaAOagQagBjgGVHrTUeA4UI9COyraYLK7Z+4xu/gsDWG2AFaEo3jKwD8I7OjKnAdMAIq8/45GV/40dCV3ohMj1NDQqdiBToxjQClwEMk+4BA6QRoAtecuiU43D7hnnSFEX5whAODYPojCKziRjAQmA3OB2cAkIBe9RQ+HkgcLFb3HqAL2AduArcBeJNWAW79MnnCTe9Zes+U2FactARzbJg+QexWwpwNTEJwNLAamoSt8TEQFlEN/BNCFPlzaCXwEfAxyDyqNA1HXPfv0I8NpRwDHtsknfuECYsgB5oG4GFgCTEQf14cBodHsINEK7AfWIHkP2IykBuEVSwMUcM85fYhwWhDAsXXyyV8K0oAFwGXAJ4DxRLqVNxddwEFgFfAGks1AU/+LhjsZhjUBBlB8OzAVweXA5cB0dKuMdRGZDqMDKAZWACsQ7EPD0/cC99zhSYRhSQDHln6KL0gBzgM+j97aZ5sto4VxzDs8+hewBmhBStA0UBTc8/aZLV9IMawI4Ng8qV/uxEjgCuCLwHwGs+SfwUDoBDYCzyLlCvR1hx4MFyIMCwKcpPhQgBDXAv+DbsWxkrkSpKkT4UChATuAfwAvoVHZV2vc86ObCFFNAMem/i0+eeit/ZfR7fVnECz6clT0/L0beAp4HsnRvpe7F0QnEaKSAI6NfXRbz0EG+vj+JvQW/wzCi2Lgr0heBOp7vpXgXhhdRIg6Apyg/BDnteh8C1iE1YY6/hBVI6GToAEfA79HN6N2+TLkXrjfbNkMI2oI4NhQhK7fEt5qhmUpi4DvAp/izOQ2PDBG0E5gOfBbusUmnL1+ee5F1ieC5QngWF/UT1qRA9yC4Ov0NWdGd2vaB1GbkWrgMSSPoXuv9mTHfZZ1iWBpApyg/GBD8Engx+jDnehC1Op1wPgYuB94B9nrpm1VEliTAIkKjpUT+kqZC3wP+CqQbLZ4wxahI2kz8Dfgd15PVADc5x8Al7VaAssRwPFxUa9U8UAHFwP3IVjYc5G1yvAMBsfHSH6K0vVfNK+blQT34gNmy9UDSxHA8XERfYzOSQi+CXwHSDdbtoBxhqQ+1AEPgfwTkjbfl1YhgWUI4PhoYh+pxETgF8BVRJtpM+yIALNC/woVeAX4MZJDvi/dS8wngekEcKyd2CuJBASXIHgQ3VPz1DjTykYbipHcCazs+UaC+xzziGAqAXqUX4cTwdeAnwGZZsoVUpwhaX/UoNfxE94gAIB5JDCNAI41fYc8pAI/AW7j9NqUYj7MIWgX8AfgfiQt0iuE59yDERfEFAI4PpzYs6iLHmHhIQTX+r3xTGs6nCCRPC+Rd4LXsU6C57zIkiDiBLB/OAGBQCIRQkwC/oS+SSX6YTJBpdkCBIf3gNuQ9KyURZIEESWAffWEvpPdecBfgHmRlOG0wEA8EKf4zXxsAm5GstWnH57zI0OCiBHA/sGEvm9bAvwVwRSLVsgZRB67kXwdffEMAM8F4SdBRAhg/2BC37edD/wfekS16MYZ8oYaB4Cvg1yN1LsCzwWHhvrMUyLsBLC/f8Kw5wLgcWBsuN97BkQrQQ8BX0PyAULqw6FPhI8EYSWA/b/jQfRo/zkInkSPv3MiorOiLIgoLMiBRT4I3Ais9V3juTA8JAgbAez/Hd/3DQuAv4Pos50ryiorysQdBtgD3IAevQ4IDwnCQgD7qhOUfyrwDHpg2TMIJ4YfSbcC1wN7ekhwUWhJEHIC2N87QfkLgH8gOO+Ei4ZfRZ2BEQRX7x+g9wTlvnAynosPh0ykcHpajgAeBs5DejPvS1aHjEySUvYkTWpoff6WEZIhoik4nA/8DinTwlHVIe0B7CvHeSe9xAAPAt8Mh9DRAiklGrLPzkCBDYFN2HEIOw7FjlM4cCgO7MKOhoZH8+CWblyaG5d045EeVKkhpQQBAoGC4t0ePUj1Daps0dD6DIpHgbuAbiR4loamFwgZAezvjtOf5moHZ8J3EOLXgOOUNw2zitLQW3EBOBUnKfYksp0Z5MZkkxebw6iYHLKdGWQ4R5BqTybJnkCCEkeMLQaHsKNJDZf00KV20aZ20ORpoc7VQLWrhoquaiq6jlLZdYzjrjqaPS10ay4kUieEUMz3bTeK4KrXBfyAQh6mTH+G55KhkyAkZWZ/d1zfp10BPI1+XFB0Q/r7WR+6AMTZYsmNyWZy4nhmJ01lRtIkxseNZmRMFsn2RGKVoTu5dmsumj2tHHPVcrijjJ2t+9jWuoe97Qep6jpOu9oBgCIURPTQIRA0AF8BlvuGVZ5Lh0aC0BDgnXG+J00DXkY/O2tYolfpBWmOZKYkTGBJ2nyWpM5jWlIRI52ZOBVnxORxSzfHu+vY036Qjxq3sKZpE7ta91PvbkRKORzJsA+4BtiFlHguPTKkhw25ZOxv9yh/GvAMgssGvDA6RzU98A1vkuwJTE8s4pKMc7kofQnTEieSbE8yW7wetKkd7G8/zH/rP+atutVsb9lNk6dFnzsIk3aXhr7u3wCuB9mIBM8ngyfBkAhgf3us9xFCQch70WP2RC8GqCgVDQHkx45kaca5XJV9KQtTZpHmSDFbWr9o9bSztWUXr9W8y5u173OkowxVatiEwslVH3Ut1C/QuBuBhgTPsuBIEDQB7G+NBQ/gEABXoofPjkDMnshUlE9RJiWM59qRn+Kz2Z+kKGGsea3oEFHSWcGKmvd47uh/2N6yB5fmwiZsQ3+weWgBvgT8B31EGhQJgifAm2N9d48BXkUw84QLoq5B0aFJDSEEUxMn8uW8a7g6Zxn5sSPNFitkqHM18HrNKp6ofJFNTdtxSY+3RwgRIlvvO4BPAyVI8FwWIQLY3+xx5nQi+CPwtYhmOxSQ/f/Ubfbj4gu4Me9arh/1GfKGkeL3R727iX8fe4vHyp6luHVvz4Q5CvE4klsBF1Li+VRJQDcHTAD7G2P1zkcfAn8eeBKrHzTnB6pUSXOkcF3uFdxWeAOTEscP/aFRgqquYzxZ8SKPVzxPRWd1NFqNOtFDZj6PR4KNgEgQOAFeH+NbgRyNYDkwPVqHOxKJQLB4xDx+OO4WLspYErFxsSa1HssSXjkUoZimgFuad/Lg4b+y/PhKurVuFGHDwELIwBD+bw0xdqKvP5UiwXN5mAhgf32M76OCEL9DP5jCBARRuv1uUdHIcKbxjcLruW30DWQ6Qx99sVtz0eBq4mj3cSo7q6nsOsax7hrqXY20eNroUDtxa240JHZhw6k4SbDFk+JIIsOZRk5MJrkx2eTGZpMdk0maI4U4W/iOQuhQO3mu6jUeOPwYh9pLo2uSLHkUPYymigTPFcZIEBgBVozx3XER8BKQana+A4VEdzablzqDe4u+x9LMc0LW4ro1NxVd1RS37GVzUzHFLXs50lFObXc9bWo7Ls3jXUTzT2Bfj+BUHCTY4slwjiA/LpdJieOYkTyJaUlFjI0vJMOZFvKx+46Wvfx8/8O8XrNKNwpEx5CoCfgcsDIsBLAv71H+FOBFYKnZOQ4UEold2Llu1BX8vOgOCuPyhvxMj1Q51F7KB3XreK9uDVubd1PdVUOX1g2AgkAIMSQl8pFW867/24WdJHsiBXG5zEqewpIR81mUNodxCYUh6yGa3a08UvIkjxx5giZ3i04y6w91V6KvEjcjJZ4rS/3eYJwAK3qGP19Hj+VjNzu3g2KAitLQSHUkc+f4m7l9zFeItw1t3t7kbmZ1/QZePvomH9Zv4GjXcTzSo4/jIxDPV3fJ0G1XdmEnMyad2clTWZp1LhdlLqEocSx2MbQqkkheOfomP9z7AIejYUgkUYFbgb8anQwbIoD9P6N9E9989GVo/4FrLQRVqhTEjeLXU37AtaMuH1JrXNNdx2vH3uXZilfZ2ryTdk8nigjCzSDEralEokoVm7AxMjaLc9MXcnXuMs7POGvIq9YbG7fz7V33sL5h6wCryJbrFnYBlwHlSPB8uvSUF/ultHJxImJBgm9m/y1002fUQJUqU5Im8NisX3F5zkVBK3+ju5l/Vr7K93b/gqfKX6C0o9y7Wjy04U2oIPB5gUKLu40dzXtZcXwlH9Stx6W5yYvLIdGeENSzR8XlcH7GWRxuL+VgW4kl8nsKZAHNSFajgHJtKtoLTYNe7JcAtt/l+ghfBDxEFLk5q1JlbuoMHp/9AItHBBeAziM9vF3zAd/ZeS+PlTxLRUfViZtSLAjfBFqVGmUdlbxTs5pVdR+hSpUxCflBDf9GOFO5IONsKruOsbv1gLVJIBmNfkZZHZLgCWB/dbSu/LqvxZ3oR5JGBVSpsiBtNk/MfpDZKVODesaR9nLu3vtb7tn3MPta9c3YIV8tDfMIwjcfOdp5jJU1H7K2fhMp9iTGJRZiD3BMn2RP4IKMszjWVcvOZksfiJ0KdOLQVqIKlGtT0F5oHvDCU5aAcm2q/kEwBfgNvvVfi0OVKvPSZvL4nAeYnjwpqPtfrX6HW4t/zBvH/otbc0dkYhtOKEJBAmUdlbx17H0OtZUyIXEMWTEZAT0n3hbHuRkLqew8xs7mfVbuCQpQxTtALRK0F4MlgF7v34FB/PytBAkqKtOSi/jbnAeYFUTL3+Bq4v79j3L3noco76jCJmxWruSAoaDglm6Km/ewsmYN8bY4piZPDKg3iLPFck76fI60l7Gn5aDXPjJYGZl2pFMK0I4i3guKAPZXCnXLj2Q8eutv+bG/JlVGx+fz1zm/5qwRcwO+f1/rYW4r/il/L3uJbtUVdcMdoxDo6xMN3Y2srFnD0c5jzE6dRrIj0fAzEuzxnJU+jx3NezjcVmbVGdEoJG8CDcrnUgckwaAEUD6f6quwm4Crzc6JP2hIRjhSeWTWPSzLCfy4gQ/rNvD1rXexunadd4JryQoNKYQQeDQPW5p2srmxmKkpRYyKyzF8f4ojiXlpM/iofjPVnTVWHCamAseBNQiME8D+cqHvYw56659tdk5Oguz7URKjOPjZlDv46ujrAn7Ua0ff4Rtbf8i+lkPWX+wJMYT3v9L2ClbXrmNMQj4Tk4zHLs6MSWdi4lhW1aylxd2GECY2HAP3sJnAa0jalGtS0F46kQQD1rZydapvSHc18L9Y/KhSKSU3jrmWn07+NnYlsNXPf5a/yre23U1V57HIKb9FhkJ9oaBQ193I+zUfkxObxYzUyYbvHZNQQJI9kVXHP8IjPVbrPTOBvcA2wD8B7C8W+FZ944F7gYl+X2EiVKmyJGMBj86+jxHO1IDufbr0Jb5bfC913Q2h3RUVpVCEoM3Tzura9WTGjGB22jTD905PmURNdx2bG7Z71d8ICSLSEgh0Xf434FauTkF7uZcEJxFAuSbFR4BFwPexwqmNkgHLU5MaI2Oz+POcXzI9JTBz53Nlr/Ld4ntpcDUaGLtasMkOEwSCDk8na+s2MjI2m5mpUwzdZxM2ZqVOZX39Vso6KlHCPRQKrEqygA/x7hfwTwD9CMc7oF9QW4vBho0fTf4mXyj8dED3La96l9u33U1td33oLD2DncsVhdzxkeDj+s1MSBrLpORxhu5LciRSGJ/H29Xv0+HptNJQKAZoJYa38JyCAPZ/FXg/yVHAPVj4wGpVqlyacz6/nPEDYm3GO6k1tRv5xuYfUNlRfXoNewIkokDQ6m5nc8N2FqTPJi/e2P7oMYn5tLrbWVu70ewc90caHl4DWpTPJqO90gIMPrk9BzPP8PITZViTkpzYLH445ZukOIxHYtnXcohvb/0ZJW3l2FDMj5Zs8cjMNqFwuK2M7269h7L2SkP3CAS3TriBhemzUaUa0nofYhqH7BOp3AtlACFsSD6FxG7VyhISbhzzeRZnzDdctnXdDdy5/X62Ne4curXHbGWOYLJhY13dFn628yE61E5DxZMdm8n3Jt1Mki1Bj2o96PPliSm8mbGBvBwpTzAT9miC/bl8vDPNMcBPseh2R1WqzEibzG9n302Kw1hIQrfm4ee7HuLZ0n97VyyDGZtG4WA+RNkQwN6WQ2TGpLMg3dhBP2MTCzjQeoTixt1WWiVOAZYDDeKqFOS/W3p7ANnzf7kYZL7pTQ/9WgdvcioObhl/A/nxuYZz/Vzpv/m/g896n8GAz/WfzC+OSA2F+t8iEHSrLh7c8xc21RcbeoZTcXLbxBvJic3y7lwLQMxgqsdYypOSJbJPWfQQQOgvVpBcjP6v5SrLI1UWpc/h6gLjfnnbG3dz365HaPd0AiK0IoavokxNA7VDCgrl7VX8cvejtHnaDZX9/PSZfK7wCj0QQIhJGiQEcDGyd+SjANiezfdlPFdKFpldAYOlWCWGr43/H9IMLni1edq5b+fvOdxaqtv6TWhNTUcI86tg462q93mhdLmhVwsEN477PPlxuYGTIHxpATAKwPZM3kmT4FlAoRUrStVUFqbP4bLcCw0/8tmSf/NG1XvYsJld6OalEEIA3Wo3j+57kvL2KkP3TE+dxFUFy5DaIMKcUv6wtKQFSDnHN6zVCaC7PYPkHCROK1aUU3Fww9hrSHUaM3sebCnhkb2P41LdodOAyFaUJZMNhV1Ne3n68AuGikwg+J8xV5Edm4HUtJOfGfku1gEs8f2hE0AXLAEpF5pdwAMlVVOZmlLEslHG3Jw1qfHnA0+zr/mQboEI1+DYamOhCDVWUpP84/DLHGgxFo151oipLB15npWGQYuQJAEotn/0BIcqBALfPxiByhLAZwuWkR1rbGF6U/12ni95zav8phd25FKEoAiFI61lPHvkFUPX24Wdz4++kgR7PFIOImhky2oiktH6EKj3y+lIMqxWWZqUjIzN5oq8Swxd79E8/HX/sxzvqA2fL4rZim6R9GLJckraKgwV2dlZ85mdNm3wXiCySAdmAH3WKCTz0FeBTS/YvklKlXOzFzE5xVjI8s31xbxeubI3lF+0tLShfHYE6kVB4VBLCf8pf9uQSKnOZC7PX6o3SiGRQQ4lKUg5T8+HHqs1Fvqd8BIJGMioU4nhivylhja6SCTPHH6F2s56hLTK8GfgSpBSomoeVE1FQSHWFkOsLQYFgaqpqJpHHy6EdK4S2qRqKi+XrqDRNfCG8/64JPc8smMykFILLl8npCGLPxMp4+16M0smYMznNYLQpMa4hEIWZxnz+dnffJg3KlZ6O7UQNadhaPFVqZLsSGJuxgzOzV7ElLQiMmJGALrP0p7G/Xx4fD1b6nbQ4m617DZNRShsr9/NuprNLMvzb56elDKeeRkzeb18JTbF9DyNRZJl91bwaCy471dKjbOz5hl2xV1R8S4VbUctG8lYSoldsXHpqAu4bfKNLMleQKJjgHCFoy+nzd3ORzUb+cOeJ3m3ajWqVAffb2tSXgWCdncH/yl7h0/mfcLvnCvGFsPFuefxZsUqK9RPFjDGN66YCAQXOHIgSAb2Nwsw0w7h5MKRSwxtWml2tbC87F00qekLXxaDJiXJzkTunH4L35xyI8l+HPkSHQlcMuoCzsqax6O7n+DBnX+mzd1u7qbzASAQfFD9MRVtRylIHOX3+iXZC0h3plHf3Wj2hpk4oMhnBZoU8kniECePmpRkx2YyP2OWoeu31u9iR8MeY6E5IjwPkFKSYI/j/jnf50czbver/H2R7EjiRzNv5945dxFvi0NKiZSgaZo+h1C9SfOgahoyNOPjgCbDZa0VrK/ZYig/E5LHMDl1gvegkKFiyBmYZEfiACx3KpyUGlNSJ1KQaOwQi5VVq2lxecfLpnev8qQ/byq6npsn3xBUC64IhVsnf5mytgoe3vlX4u3xFCSOYnRSPhmxI1BQaHQ1U9ZWSVlrBc2uVoQQEXND7ta6WHV0DdeM9R96PsmRyMLMOXxYvQ4LVNQ4O8hkEPn63yEUaKiPkpL5GTMNnXjS7GrVC7THAhJ5SCnRpIoQCnbFjk3Y0KSKS3UxK2M6d0z7esDBaPvCrti5Y9pNJNjiWZg1hzkZ00mPGYHT5gD09Y8mVwt7mw6youwdXi55g9K2CpSIhG9XWF+zhdrOerLi/McaXZg5hxjFiUcLcMdY6JFn1y1AMstsSfojRolhbsYMQ9cebD7CvqZDgUcmCwFXfCe1jIzP4qzseSzMmsOYpAIS7PF0eDo43FJKUcp4RiUM/czh/IRc7pv3/QF/cygOMmPTycxJ59ycRXx54rU8UPwnXjiyHLfmDisJFAQlLeXsaTpgiABT04rIiEnnaMfx8EePGAi99Z5pRzISML6xNhLyScmI+FSKjC5+1RXT2N3Uu8gSIWhSI9WZwhcnXMVXi77A1LQiHIrDpFI7EVPTJvHYkgcpShnPr7Y/GtYoDQJBm6udTTXbOX/k2X6vH5WQw5ikfKraqzFwREU4kWxH940e+kHXIVQ8TWrkxeeSG+/fMiuRbKrZjqap2IZ4JlYgUKXG+OTRPLDwp1w5+lJLnrIeZ4/l+7Nuw6N5+MW2RwLfpG4E3nqXUmNT7TY8mordj40/yZHIpJQJrK3eEMbcG1LIWAVJHhJHSCw/IZNdMi65kCSnf2tJi6uVPY37Qfpp3UJo+dA0jbFJBfzt3N/ymTHLLKn8PtiEje/MuJkrCy9B1dQQrMAOtuos2NNwgPruBkNyTU6b4O2RwmWiMlT3DgVJLtLoXsEQF96ghQrjk0cbittT3VFDRWuVd/hjpKKGlqTUSLDHce+8uzg/1393bwUkOhK4c+YtjIzLCpuZVEFwtP0YZa3GwqeMTx6DU3FGxlx7CiggcwJ+UpgFtmFjdFIBRlDeWkljd1PEXJ81qXHF6Eu4ZuzlweiiaZibOZNlBRehaaGwv58MIQWtrjYONhnbI5CXMJJEu7+wKeFPCsG4QIcZTsVJnkGrSWlrBV2ebuMPH0JhSSlJdiTxlaLrcNqc4S+IEEIRCpePXqqblcPUynpUDweaDxuSJyMunVRn8uD7A8KBAeS2I6118otEEm+LJTM23dD15W1VaJoWFucqTWq65yIAAqRKUcY45mbONLuYgsKMEVPIjsuirLUiPPMWKSlpKUdK6XfBL9mRSFpMKlKWmlASvaSzA8bX5Qd/TghFkyTY40kxuPe3uv04Pe6xIXq/JjWcipPCpDwmpo5jTHIBmbHpOBQ7k9MmGt6XbDWkx45gZHwWpS1lvgjgwRbSoDjadowutZs4+6kXMGPtsYyISQWpYebxE3Yk8aF5VKg0UCdAgsO/WG7NQ31nA6ccmwUglio1Eh3xfCLvHK6d8GnOyp7HyITsgILvWhkxNod+DlgIG4z+qO9qoMPT6ZcADsWhNySS4AL1+YPB/NmR0r+vQQQhpSTeHkeMgTG2W3PT4moFOfQFME1qzM6Yxo/nfZtlhRf7rcBohCYl3aoLNBVVAkJ4T5cPjQb6JsIdng7S/YysbULRnQIjNK8cDHbA+GwuEoJKiLXFGFpR9WgeOtydQ5ZNkxqXFl7II+fcz4RU4+djRRuEEFwz/grmZM6gtrOOg01HONB0mIauJp0IQ95vIOh0d9Hh7jJ0dbw9zgIEkBZznpd6DCAjkzRVqrg1d283GkRBqlLl/FFn89j5D1CQZMzzNFoRa4vhlulfAfSetsXVyu6G/bx48D/86+BrHO+oGdLuMyHBrbrpVo1Z5Yz08oYwBALZzWTfYJkRBo8p1aSG6rNrB5EPTWqMShjJr87+ybBX/v4QQpASk8zZI+dz1sh5XDXuMn7w0X2sP7Z5CBYi2dsoGYAerrJ38dMMhDgIrhx6wniBCO+JvkN59w2Tr2VRzjzTKsAKEAjOHXUWf1/6RxaPXKC7TAwEgzpg1LYvfa2WqQthoV4NGSqkbo2RBp5nUxQcir3XqhHQiq4kNyGH6yZeFRq5hwEmpI7loXPuIT9xlL5iHGj1entvo2syHtUTnNqEeCXYYyYDB0ou1TV4K9QHdmHvXdkMtAw1lXlZs5iYarlgGKZiYc5cbpz6haDDytiFDadBl/AuT7dp7awPCuAyW+H7Z67T3YXLwDjSYXOQ1NeuHdB7BHOyZvTsqDqDXlwz4QpGJmSjBViuEkmM4iTWgAlZImlzt5uub3YkxmxWEYJA0OHuMOTf41DsjIhN85VoQLBhO+0mvkYxLmU009InUdV6FAJxMZGSeHu8bt70A4+m0tzdgt9mPcQtfn/YkXSE9xUB5kRCu6uddrf/U0gEguz4TP3RIrCSUoRC/DBc7AoFYu2xjE0pJNAVYyklqTHJhlbxXaqLxq4mQrGIORTYkbLFvNefDAG0uzv0wjGA/MTcoLZCalKj3RUh7kch4nyteCDlqkmy4jIMraJ3uDto6GyECG9j7Q87YGwLT4QgpL6aeLyj1tD1o5PziVGcuDVPQO9RpUpJc7nZ2bUsWrpbvT1rYPflJ40ytIrf2N1MU1ezcTeMMJFEQVJn9kSk/yTYpbqpaDF2BE9Bcj5JzqTA/colbDq2jS6PpaZAlkCbq40DDYcgwE1GAoVxqWMMveN4ew3N3a26+kfY8tMXCpJjpit9f2uCpnKkudRQBnITcrwWi8BOH1FQ2HJsO8W1u8NXulGKnXV72V23L+DTdWJtMRSlGTMrlzVX0Onu0KduJp4+pABVmDoKg4HofqixxND5XmmxKXqha4GF3BZAbUc9j+94Bk+Aw6fhDI+m8tTO56jvaAjIS1STkhGxqYZ7gP2Nh/WFsMEQmcZWKkhZhZRuM1k4kI3+SFMpTd1NfgvSrtiZnTUDgvBfURC8uO81Xtz3WuCaMkzx4r7XeGHvqwEfMCI1jbEpo8lNzPH7Do/mYW/d/oHrPsxDnv6i2IEqrynUMptcFQTVrccob6kiK97/uWDzc2aTaI8POPiTQNDa3cYPV99HckwSnxpn7Bim4Yp/H3iD739wD63dbYE7xEnJnOwZJDkT/V7a0NXEgYbDgGKmHxxAp4KkGjB2xEe44ZtMSUFTdyu7avcaum1qxiQKkvPQNBlQq+WbC5S3VPG1t+7g4U1/MWx+HU442naMez96kJvevoPK1qMIEbiPpMMWw1m5Cwy9r6SpjIqWo72NlXnzzWa7lNQBxzHrgOxBoKluNlZv48vTr/N7bXZCJvNz5rCndh8ymKGQUDjWXsP3P7iH1w68yRenXsN5BWeTl5RLvCPO7Dj2IYdb89DS3cKhxhJWln7Ay/uWs7N2L1JqeqzOAJtlTUryU3KZlzPT0PXbju+gubvFawEytQuotQOtSMoBY/SNGARbjm2nqauZ1NiUU16pCIWLR5/HP3e/jBZk+D/f2Vwfln/ER5UbGJmYzfi0MRQk55MWm6p7nUY5VKnR7m7neHstZc0VlDVX9PR4PVsjg9FHTWV+zmwKUvL9Xyo1Pq7chFQ9CPPLtNyOlB7gkNmSnACpj88PNhzmQMNhFuTO8XvL4ryFFCbncbixZEghPxRhQ0pJZctRKpstYCALGwRCKCEJj2JTHFw69kJDjcTx9lq2VG9nwEgQkS/qQ74dYfu8r7dMXy8QNHY2s7ZyvSECFCTncX7BYg43HA7KItQfAypG75GywwdDzIsmNcamFnJB4RJD128/vpOSpnKENc5x2++b7RxA0mb2AthJSVNZVfKhodVaRSh8ZuJlxDtCGG6vPyJrovMPs+tHAprGRaPPZ0yKsSnkeyWr6XT5FsBMTe1I9vuauXLgmNUqSwgbW6q3s7/e2Ahtcd5C5mTPRGqBrQpHbTKjUvokKSVJMclcM/lKQ0c/1XbU8X7pGu+rpdnpOFKW+nqAOiQHrVZZAkFNey0rSz4wdH1qbArXTvkMirAFLqD5FWJCGlqdSk1lcd4Czsozdo7z+qrN7Ks7oA9/zMchoFbxVn43Um43v0JOTlLTWHHgbd070QCunPhJJqdPGHhPa1hb0wjA7B6nX4qxx3LDjOsM+f9rUuO1fW9aZfgDkmIkXUqfee8WIDROMSEUVAiFrdXFrK/abOjV+cmj+OK0a3pNesMpWQiapnLWqPlcOs7/CfEABxuO8N6R1bqBwuxylKhINiN9a9H6l7uQ1FitogSCtu42Xtz9quGzZb8w7WompxcFFwvf/MqxfJJSEmuP4+a5X/G7RuPDf/a/SUVzZeAHGYYHtcBOAEX7Sb3vywoke80u3IEJpfDWoVXsqt1nKHeFKfl8bc71vWcGR2krOygiUu6SweYNUlW5eMx5fGrCUkPi1rTX8eLuV5EyMI/dMKZ9SFnuc4cGDZB0AuusWFEKgqMtR3l+58uGX/3FadewcNRcNM1jdmGHPpk43pJSY0T8CO5YdAsJzgRDdfHGwXfYcWy3NxJchMQ/dVqPbgb1EkDgK9y1SNllzYqCF3e/ysF6YyeQZCZk8N2zbiXR324x8ysjqpKUkhtmXsd5oxcbqofGriae2vYcbo/L0PURQDeg22JF3/VoPYPFSErMLuSBewGFIw2l/KP4X4Zz+qmJl/LZyZefel3A6rBA2fuSpqnMzpnBtxbdbNiFYvm+t9hQsVk3TVsgD0hKvXpOTw+g3e2dBwiOAx9bubKeLX6RXTXG3KSdNgdXFi3DaYsxu9CDTxaBlJLkmGR+ct6dFBpwegOoba/jsU1P4Qo2Alx40nqgGgnazxv6Tcn1kJwrCTZcYpihCIXSxjKe3Pqs4XuSnInBTYbPpD5Jr9yb5n2FK4s+abjsn9vxEpuqtnp7C9MzAUgV5Eqk1HzW/173vV4lXgeUAdYMmiklW45up93dYWgB5lDDEbqHQ+QHE3sDTapcOuEi7lpyu+HAtwfrD/PnjU+gqh4rHSReDnzU94seybR7esIDVYL8MGiWRcAKYvgADU3lw9KP0XxRiKM5mQRNU5mcOYnfLL2XjHhjJ3eqmsoj6x7jQO0hK1l+QLIGKEeCdq+u7ydrkZQakteRQQbNDTsEc3JnGoo+VtVazebKrSdn0/yKiIqkaRo5iTn89tL7mZEz1XANvXNwFf/c/qLVdtK5gdeRaH3FOnEHg29VWO8m9gPTzZb6BPGAeEc8F4w5x9D1247uoLy5qjfCQbTAArJqUiMlNplfLf0Zn5x4seH7qluPcf8HD9HU0YSi2CyRFy8OAGv7f3lC06jd1+hj/3HgjZ4fTpWJCLZIUtMYk1rIzBxjvPyw9GO6XV2mt6TW60VPDU1qJDjiuffCH3HDbP97sn1QNZXfrv0j68s3DhJWRZqZ3kRK3fpzf2OPzCfvYRM9Av8HuAm8511aoGLQNBbmzyMnMcvvpc1dLawr28CpZbdCpqwFTWokOOP5+YU/4NZFXzPk5+/Dq3tW8LeNT+vF2hPzMMww9oomBK8BJ+15PJkAva3QNpBrgCvCnwtjsNscnD9miaFKOVh3iP21B73jUAsougVE8AdNaiTHJnPPRT/km2fdZNjiA7Dr+F7ufvcXtHS19C56WQdrkWzVP54o2EmTYO0XjT72dgPPI3GbPiTwTsiyE7NYkDfXUI7XV2ymsbPJOm7RFoemqWQlZPLwZb/k9rNvDkj56zsa+MFbP2NvzX4ULLfm4kHyL7wHwWi/bDpB9oG38fdOht8DigHzj1GUGjNzplGYVuD3Uo+msqZkHVJVrRB6w/LQNJWJmRN46LJfcPnkSwO6t9vj4t73fsNb+1d6d+KZhMEaGcEO4N3BbhvQmK79ssnHnjokz1mAxYDCOaPPJtYe47csqluPse1ocUiiQ4QcZpdjnyS9O+4+Mf58nr/uyYCVX0rJHz5+jP/b8BTGAhGEcZI7eCafR8pa3KD9qumkPAzePPYOnf8N3Ixkonk6I0mOSWLJ6EWGrt9ZvZvKpqreM4SDfOtwhqapJMQk8tX5X+JHF3yX7CT/hoX+eGbr89y/6kG6PN16WVuvzA4CrwCDavqgBNB+1YRyVyoIWQY8B/zcrFxITWV8+lgmZxUZun5t6To6XR19NscbfA+yd9OGt0KFsAVkCbE6pNTzODVnCj++8E6unv5pHLbAh4mv7lrBXW/cTXNnc+RdHYxWqeB5JCUI0H7TNOAldj8P8L3sn8D1mOUfJCUL8+eRHj/C76VtrnbWlW7sY4o71WN7FV4oNlJikylIy2d27gwmZIzjcH0Jb+9/j+qWaoRQgiOChRpFTVNJjkvhutlX871zb2d8xtignvP6nre5/bW7ON5aY+VFxhIkfr0mT0kA7TdNKHelgOQQgmeR/MyMnDhsMZw75mxjua4vZe/x/QhOrhi9hZcgNRAKyTFJFKblMzN3OgsL5jE3bzbjM8aSHj8CRShoUmNL5TYeXfsYy/e8SUtnc/T1CFJ3ZnPanZwz7ly+c95tLJ34CexBGgeW736T2179rj7EtK7yAzyLPgQ6JYyXguQfwHUQ2bmAJjVGJY5kzqhZhq7fWLGF2va6HvOnfnSSBkKQ4EwgL3UUM0ZOY1HhfObnz6EocwIZCekDduOKUJifP5cnPvcn3j+0hsfWPcGqgx/Q2tVieSJI9Amuw+Zgfv5cblr0FT4z/XJS41KCfuYL21/hO8t/yNHmat3NIQxSh+RywUEQf/d+Rntw8Oj/fgmgPdqCclsywBHgceCBMOT8FAJoTM+ZSkGascjDqw+vRXN1gc1BrCOWkck5TMuZwsLC+SwsmMvkrElkJ2UG1AI6bU4uKbqQc8cuZs2Rj/j75ud478D71LTpJ1kqQvEfVTVCLaV+urtKnDOBBWPmcv2867hi6jIyEzKCfqaqqfxt/dP85O37qG+v97b81m36kTwOHEZqaE+c+rxp/1rQJfvOBZ5BymsBY6tRIYFg8ehFhsyfHa5OOlwdfGLSRZxduJCFhfOZljOZ3JSROG1DPwAnzhHL0qILuWD8ueyo3sWrO1fwxp532FdzgC53B76Iy5HuGXxKL4SNUSkjOX/cOXxu1lWcN24JKbHJQ3p2W3cbD7z/e363+o+0d7dbfdgDsBV4BiQIAc2nDo1juKaUH6SD2w36ZPhxInCkkpSSBGcCy7/6AheMP9fv9ZrUqG2rIyk2iXhHXLjFA6CmrZb1ZZt4Z997fFSyjsP1pbR1t/XMM4QQIXcL7pm8I7HZHGQlZjInbyaXFF3EhRPPZ2Lm+KDH+H1R3ljBj9+8l39texlVU80f8vknnhvB15D8HRtoD/k/A944Ab6b7BMgAXgeuDzc+dU0lem501h58/Kg7NSRRk1bLXuO7WND+WY2lW9h3/EDVLcco6W7FY/q7h02CIGv6PsrlY8s0lvYsu9CjxA4bE5S41IoHFHArNwZLB6zkAUF8xibMcZQL2kUqw+v5Qev/4z1pRv1Xs3swjWG19HnqW0I0H4XQgIAKN/p6U7PQfJvIPiBpQFomocvL/wST37+z+a3PgHCo3mob2+goqmKI3UlHKo/QmlDOUebq6lrr6e5s4UOdwfdnm7cqhtV05BSw6OpaFLDrtiIdcSSEptCTnI2Y9NHU5Q1gaKsCUzMHE9+Wh5pcakhl7utu42/rXuaB//7CNUt1ea6N5wAv81/PYirgA8RoD3sX/khECtQXzkkaxE8AXw/nPlVFDtLxpwVdcoP+vGt2UlZZCdlMS9/ds/3LtVFl7uLDncnHa5OutxdPSTwaCpdni5cqps4RyypcSmMiB9BalwKic6EsJfDtspi7n/3AVbsfhO36u6zmd0EBP7ax7Gpa9AUAmnXAy5R5Y6eodAokK8RJkc5KSWZiRm8e8tyZuZaamPasENDRwNPbXiWP6z+C2UN5WEycYYVW4ArgSoEaL83FkkcgugBtIdbUL6dClKtAn4BPAP4Pxw2QEhNoyhrAmPTjZ08fgaBo9vTzTv7VvHw+39gzeGPUTXVir78/tCGrodVKIEpPwQzBAKg5yTG14GngG8GdLuRApawsHA+STEh59YAr5I0djRxpK6ErZXbKW+sZGHhPD4x8XwSnP5Dr0QbPJqHdSUb+POav/H67rdp62pFUWzmhi8JlnSCp4AVwT4jKAJov29F+VaSvtlAXxhbBBg7JsQgYhyxLB5jzPszUEgkje2NHK4rYVtlMRvKNlNcuYOShjKaOpvRVA8JsYmcN/4cblz0JS4quoCUuKHZ062Abk8360s38dT6Z1ix6y0a2uoRihI1rb7sJ6RAbELyAOBBgPZIYK0/BN0DnCBVJfBTdI9R/95qBqBJjZGpOcwYFbqxf0NHo97CVxSzoXQT26t2UFJfRlNnE1JT6buIpSh2Oro7eXPXW/z3wGoWFM7jurnXsGzqUkMr0lZDQ0cjHxxcwz83/Yv/HlhNU3sjKErPSY0yGrR/gGxJ5E+BSkUopw6AfAoMyayg3J4EEhyaA7fi/rFE3gsBnIAwiMxS8/CpGZ/ila/+E6c9uPW25s5mjtSXsq2imPWlG9laUcyR+lKaOpqQmkfPuqL4XaSS+n5MFJud8ZnjWDZlKVfMuIw5+bOGvMoaTnR7utl7bD9v7XmX/+x4ne1VO+l2dYAVfJiGzjcNuBsHv8BblfIPbUE9aMgloXyzJ/x4MvAk8Nkhl4+m8csr7+GHS79n+J627jZK68vZXrmDdSUb2FKxnUO1h2noaESqHn3xKVA3hf7epN7V16TYZGaMmsbFky7kExPPY2ruZEbEpw0120NGe3c7h2qPsObwR7yzdxUbSzdT01rT4+49jPAKcCPQggD5x+CUH0J0MLa4zTtR1XeNvQTMCPZZEt39YcXNL3HBxMHdHzrdXVQ2VlJctYt1JRvYVLaFAzWHqGurR1VdetbC5JfT41INJMelMCFrPAtHz+fssQuZMWoa+Wl5pMQmh72lbetup7q5mj3V+1hfuon1JRvZXb2X2rY60FRQbFaLzhYK7ACuAQ4gQP4peOWHUBLAhu+IvaXovtiZJ1xksNuTUmNq7hRW3f4G2cm97g9u1cOxlmPsOrqH9SUbWV+6iT3V+zjeWoPb3UU4Ff6U8nqHSLpfjpP0hBGMTi9gUk4RU3ImMSFrPAUj8shMzCQlNok4ZxwOm/HYpi7VTaerk5auFmrb6qlqquJwbQn7jx9g3/EDHKkrpbatDpfbGwDYhDIwUEihQg2C64F3fZprCQIAiFsT9YwqgMY3gN8B/gN49i8r1cN1Cz/PP254nMaORvYdO8DG0k18fGQDO6p2Udl0lC5Xh+4f45vIhQpDrih5AiEQCg6bk4SYBFLjU0lPSCM9YQRp8Wn66m5MArGOWBw2B0IINE3DpbrodHXS2t1Gc2cLjR2N1Lc30tjRSHNnC+3d7bhVl7cHMof0JqELuANFeQxN398h/zw05YcQEgBA3NJjs3cg5f3AnYG+Q0qNBaPnM33UVDaVbaGkrozWrpY+3pUWjPTgN089EQoG9qPvq8CD/i7A51k6UIlGpSHHMCS6uf2nCNwA8i/tQ3uiFyFvOsQtib5KTAb+DHzxpKz4y22fXVwI/5aaM4gCDIWggmeBW4EWAPlYaJQfQrEOcFJGpS/DLeg9QAZwSUD5FYq5MX2Gd2sabXgbyV14LT6hRuhtY5vdiHk9tvs2JBvQV4nzwldGpxlOH4KuA74OlPdMev8autYfwkEA6E+CBmAzcBaSnPCU03DBMNLsoWdlO4L/BfbinfeEWvkhXAQAnQRznfq5HDaOI9kKcjH9zaNmYxjp3DDCbuCrCLbRpoAT5P+FXvkhnAQA2OJGzHeiW0BEFbANOBurkcDqOL1Iuhf4KrARAKdE/q0jbC8L//r4FjdirsP3VyWwFckiwPqbfM9g6AiMvLsQfBXQTzYRhFX5IRIEgF4S6OEKK9HZPR8YGZH3G8Hp1cpaEVvRhz2bfGEt5ePhVX6IFAEAtroRc7w9geQo+on0MwD/Af9PJwzm1mvJ4MshwxrgfxGiuKcYngi/8kMkCQC9JLgS2E8N8AFSTgAmRFSOMxgaQkvEFQhuAg6gaaAoEVN+iDQBQCdBfM+coBFYhb5YNoNQr0wP3xZzOEBF3077LQRVgO7f82RnRIUwx0l8mxsxu2cRuh3JKnR1nQc4gn5uNOL0JGk78Gt0356mnqJ4KrLKD2YRAGCbBzHb4VMAF/AhcBTJfCDJNLnO4ESEnqBVCL4L/BHoBvQJrwnK7321+RBfieuVRuM84CGCiTc07FvTqM/gBuBOFNYgvSEgnzZH8X2wxj657R7ErJ7eoAzJSpAZwBQC2WMczYh63T4l3OD16BTs6FH+v5ur/GAVAoBOgpk9w/8m4B0kDcBswhB46wwCRPAErUbwU+A+oA7Qhzx/7zI7R4CVCABQ7EHM6pkcu7Gx3utNOhYYbegZw7sljTb8F7gFGy97Y0gBIP9hDeUHi8wBBhTsS312U0qygG8B3wDMD78wVAx/ktYDfwL+gPC2+oB8xjqK74O1eoC+KPYgZvQxlQreB7YgKQQKsTB5zUMImRXco6ReT+KboDwNUl/REtZUfq9o1oe4/oTeIAP4X5C3AnmnQWsaLShHN20+gRANvi/ls9ZUfB+s2wP0xY4TeoMOFGUtmvwA/bSacUTguKagMfwJ2oYeFvN2BK8CPaYd+c9us2Xzi6joAU4Q+IsnHAPkRHIp8G3gHMKxx/l0xqnJ60HwAfB74F3087n026JA8X2IOgJAPxLolZSKHpLxG0jmRGu+ogQa+hbXvwCvIjjhEF75XPQoP0S5oogv9DsUTpINfA59R1HoneuGAtOHQkMWQAOKQTwOvISg9oSnPx9diu+DdRRkKJm47iQijASuAnkD+kLamaGREQzMEQ+CLcDTwKsgjgM6HWzRq/g+DAsC9GTmuhhd1d2+b2QGsAzJ/6DvRU4wW8YoQhuwFt2F4W0E9X1/lP9ymS1fSDCsCNCTqc/3MwpJEoDFwLXowXtDE6PI9GFNWFABvA28gGAdcMLuFPnC8FB8H4YlAXoyd+1JRFCAicAy9H1pcxjufkbGSNqCYCvwGvAWkkMItJ5tmGL4Kb4Pw5oAPZm81tlTkX0UIgmYg2QZcBEwCRh+J+KdgL5sEO3oIUhWAm8B2xCcFG5Zvjg8Fb+nFMwWIOIZ/ly/XkHfg5AOzAZ5IXAeMBndtGoM0TMUagT2AKsRrAK2g9LQPwPypeGt9H1x2hGgJ+PXDLR4LEBqyei9wSL0ecNMIJ/o7B3a0cf029EntBuA/QgGPE5RvuQ2/uRhgtOWAH0hrnEMNEQC3VUkG5joXWCbg9475KP3EFbav+xGb+HL0Vv5bd60H0ktSu/hzn0hXz79lL4vzhBgAIirB9FrDQVBCpCL7oNUhD6pHu39Lh1JIhBDeNYePOgnpbShuxwfBUrQz8vaDxzxftfMIAMz+crprfD9cYYABiA+e4qGfgmwhnj0HiELPdrdKG8a6f1uhPf3RCAOnSAO9O2evn5HQ2/Fu9FNj23oilwP1ADVQJU3VQO1QCNxdHIKh8szCn9q/D8z/9fDtDdMNgAAAABJRU5ErkJggg==",
                    "description": "Base64 encoded media content"
                  },
                  "mediaCaption": {
                    "type": "string",
                    "example": "This is a test image",
                    "description": "Optional caption for the media"
                  },
                  "mediaName": {
                    "type": "string",
                    "example": "image.png",
                    "description": "Optional filename for the media (required for Base64)"
                  },
                  "replyToMessageId": {
                    "type": "string",
                    "example": "true_123456789@c.us_ABCDEF123456",
                    "description": "Optional message ID to reply to in format: <fromMe>_<chatId>_<messageHash>"
                  },
                  "previewLink": {
                    "type": "boolean",
                    "default": true,
                    "description": "Whether to show link previews"
                  },
                  "asSticker": {
                    "type": "boolean",
                    "default": false,
                    "description": "Send image as a sticker"
                  },
                  "asVoice": {
                    "type": "boolean",
                    "default": false,
                    "description": "Send audio as voice message"
                  },
                  "asDocument": {
                    "type": "boolean",
                    "default": false,
                    "description": "Send media as a document"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the sent message object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "instanceId": {
                      "type": "string",
                      "example": "1"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "object",
                              "properties": {
                                "fromMe": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "remote": {
                                  "type": "string",
                                  "example": "123456789@c.us"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "3E7NFKFLEOGE1C7586156"
                                },
                                "_serialized": {
                                  "type": "string",
                                  "example": "true_123456789@c.us_33E7NFKFLEOGE1C7586156"
                                }
                              }
                            },
                            "type": {
                              "type": "string",
                              "example": "sticker"
                            },
                            "t": {
                              "type": "integer",
                              "example": 1733206483
                            },
                            "ack": {
                              "type": "integer",
                              "example": 0
                            },
                            "from": {
                              "type": "string",
                              "example": "987654321@c.us"
                            },
                            "to": {
                              "type": "string",
                              "example": "123456789@c.us"
                            },
                            "isNewMsg": {
                              "type": "boolean",
                              "example": true
                            },
                            "hasMedia": {
                              "type": "boolean",
                              "example": true
                            },
                            "mediaKey": {
                              "type": "string",
                              "example": "aWYTqBE47By5Kwpkoms3FVorhUjPsx5aQoVrGUPKO8Y="
                            },
                            "mimetype": {
                              "type": "string",
                              "example": "image/webp"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/action/send-seen": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "Mark chat messages as seen (blue ticks)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "description": "Mark all messages in a chat as seen (read). This will show blue ticks (double check marks) to the sender only if both parties have read receipts enabled in their WhatsApp privacy settings. If read receipts are disabled by either party, the messages will be marked as delivered (gray ticks) instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "example": "50664083362@c.us",
                    "description": "Chat ID <countrycode_short><usernumber>@c.us or @g.us for groups"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully marked chat messages as seen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "seenSend": {
                          "type": "boolean",
                          "example": true,
                          "description": "Indicates if the seen status was successfully sent"
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "string",
                          "example": "https://waapi.app/api/v1/instances/1/client/action/send-seen"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/action/send-vcard": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Send vCard",
        "description": "Send a vCard to a contact or group.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the instance.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "description": "Request body containing the chat ID and vCard details.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "vCard"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "example": "50664083362@c.us",
                    "description": "Chat ID <countrycode_short><usernumber>@c.us or @g.us for groups"
                  },
                  "vCard": {
                    "type": "object",
                    "description": "vCard details",
                    "properties": {
                      "waid": {
                        "type": "string",
                        "example": "xxxxxxxxxxxx",
                        "description": "Optional. WhatsApp ID. Ensures the contact is properly displayed with an image and added to WhatsApp contacts."
                      },
                      "internationalnumber": {
                        "type": "string",
                        "example": "+15551234567",
                        "description": "Optional. International phone number of the contact."
                      },
                      "lastname": {
                        "type": "string",
                        "example": "Doe",
                        "description": "Optional. Last name of the contact."
                      },
                      "firstname": {
                        "type": "string",
                        "example": "John",
                        "description": "Optional. First name of the contact."
                      },
                      "displayname": {
                        "type": "string",
                        "example": "John Doe",
                        "description": "Optional. Display name of the contact."
                      },
                      "title": {
                        "type": "string",
                        "example": "Mr.",
                        "description": "Optional. Title of the contact (e.g., Mr., Ms.)."
                      },
                      "secondname": {
                        "type": "string",
                        "example": "",
                        "description": "Optional. Second name of the contact."
                      },
                      "additionalname": {
                        "type": "string",
                        "example": "",
                        "description": "Optional. Additional name of the contact."
                      },
                      "organization": {
                        "type": "string",
                        "example": "Example Corp",
                        "description": "Optional. Organization of the contact."
                      },
                      "email": {
                        "type": "string",
                        "example": "john.doe@example.com",
                        "description": "Optional. Email address of the contact."
                      },
                      "street": {
                        "type": "string",
                        "example": "123 Main St",
                        "description": "Optional. Street address of the contact."
                      },
                      "city": {
                        "type": "string",
                        "example": "Anytown",
                        "description": "Optional. City of the contact."
                      },
                      "zip": {
                        "type": "string",
                        "example": "12345",
                        "description": "Optional. Zip code of the contact."
                      },
                      "state": {
                        "type": "string",
                        "example": "CA",
                        "description": "Optional. State of the contact."
                      },
                      "country": {
                        "type": "string",
                        "example": "USA",
                        "description": "Optional. Country of the contact."
                      },
                      "website": {
                        "type": "string",
                        "example": "https://example.com",
                        "description": "Optional. Website of the contact."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "instanceId": {
                      "type": "string",
                      "example": "1",
                      "description": "The ID of the instance."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sendVcard": {
                          "type": "object",
                          "properties": {
                            "_data": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "object",
                                  "properties": {
                                    "fromMe": {
                                      "type": "boolean",
                                      "example": true
                                    },
                                    "remote": {
                                      "type": "string",
                                      "example": "xxxxxxxxxxxx@c.us"
                                    },
                                    "id": {
                                      "type": "string",
                                      "example": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                                    },
                                    "self": {
                                      "type": "string",
                                      "example": "out"
                                    },
                                    "_serialized": {
                                      "type": "string",
                                      "example": "true_xxxxxxxxxxxx@c.us_XXXXXXXXXXXXXXXXXXXXXXXXXXXX_out"
                                    }
                                  }
                                },
                                "viewed": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "body": {
                                  "type": "string",
                                  "example": "BEGIN:VCARD\\nVERSION:3.0\\nN:title;firstname;lastname;secondname;additionalname\\nFN:displayname\\nTEL;type=CELL;waid=xxxxxxxxxxxx:+1155123456789\\nEND:VCARD"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "vcard"
                                },
                                "t": {
                                  "type": "integer",
                                  "example": 1738946039
                                },
                                "from": {
                                  "type": "object",
                                  "properties": {
                                    "server": {
                                      "type": "string",
                                      "example": "c.us"
                                    },
                                    "user": {
                                      "type": "string",
                                      "example": "xxxxxxxxxxxx"
                                    },
                                    "_serialized": {
                                      "type": "string",
                                      "example": "xxxxxxxxxxxx@c.us"
                                    }
                                  }
                                },
                                "to": {
                                  "type": "object",
                                  "properties": {
                                    "server": {
                                      "type": "string",
                                      "example": "c.us"
                                    },
                                    "user": {
                                      "type": "string",
                                      "example": "xxxxxxxxxxxx"
                                    },
                                    "_serialized": {
                                      "type": "string",
                                      "example": "xxxxxxxxxxxx@c.us"
                                    }
                                  }
                                },
                                "ack": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "isNewMsg": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "star": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "kicNotified": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isFromTemplate": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "pollInvalidated": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isSentCagPollCreation": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "latestEditMsgKey": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "latestEditSenderTimestampMs": {
                                  "type": [
                                    "null",
                                    "integer"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "mentionedJidList": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": []
                                },
                                "groupMentions": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": []
                                },
                                "isEventCanceled": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "eventInvalidated": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isVcardOverMmsDocument": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "vcardFormattedName": {
                                  "type": "string",
                                  "example": "John Doe"
                                },
                                "isForwarded": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "hasReaction": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "disappearingModeInitiator": {
                                  "type": "string",
                                  "example": "chat"
                                },
                                "disappearingModeTrigger": {
                                  "type": "string",
                                  "example": "chat_settings"
                                },
                                "disappearingModeInitiatedByMe": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "productHeaderImageRejected": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "lastPlaybackProgress": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "isDynamicReplyButtonsMsg": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isCarouselCard": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "parentMsgId": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "callSilenceReason": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "isVideoCall": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "isMdHistoryMsg": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "stickerSentTs": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "isAvatar": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "lastUpdateFromServerTs": {
                                  "type": "integer",
                                  "example": 0
                                },
                                "invokedBotWid": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "bizBotType": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botResponseTargetId": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botPluginType": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botPluginReferenceIndex": {
                                  "type": [
                                    "null",
                                    "integer"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botPluginSearchProvider": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botPluginSearchUrl": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botPluginSearchQuery": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botPluginMaybeParent": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "botReelPluginThumbnailCdnUrl": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "botMsgBodyType": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "requiresDirectConnection": {
                                  "type": [
                                    "null",
                                    "boolean"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "bizContentPlaceholderType": {
                                  "type": [
                                    "null",
                                    "string"
                                  ],
                                  "nullable": true,
                                  "example": null
                                },
                                "hostedBizEncStateMismatch": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "senderOrRecipientAccountTypeHosted": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "placeholderCreatedWhenAccountIsHosted": {
                                  "type": "boolean",
                                  "example": false
                                },
                                "links": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "example": []
                                }
                              }
                            },
                            "id": {
                              "type": "object",
                              "properties": {
                                "fromMe": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "remote": {
                                  "type": "string",
                                  "example": "xxxxxxxxxxxx@c.us"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                                },
                                "self": {
                                  "type": "string",
                                  "example": "out"
                                },
                                "_serialized": {
                                  "type": "string",
                                  "example": "true_xxxxxxxxxxxx@c.us_XXXXXXXXXXXXXXXXXXXXXXXXXXXX_out"
                                }
                              }
                            },
                            "ack": {
                              "type": "integer",
                              "example": 0
                            },
                            "hasMedia": {
                              "type": "boolean",
                              "example": false
                            },
                            "body": {
                              "type": "string",
                              "example": "BEGIN:VCARD\\nVERSION:3.0\\nN:title;firstname;lastname;secondname;additionalname\\nFN:displayname\\nTEL;type=CELL;waid=xxxxxxxxxxxx:+1155123456789\\nEND:VCARD"
                            },
                            "type": {
                              "type": "string",
                              "example": "vcard"
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1738946039
                            },
                            "from": {
                              "type": "string",
                              "example": "xxxxxxxxxxxx@c.us"
                            },
                            "to": {
                              "type": "string",
                              "example": "xxxxxxxxxxxx@c.us"
                            },
                            "deviceType": {
                              "type": "string",
                              "example": "android"
                            },
                            "isForwarded": {
                              "type": "boolean",
                              "example": false
                            },
                            "forwardingScore": {
                              "type": "integer",
                              "example": 0
                            },
                            "isStatus": {
                              "type": "boolean",
                              "example": false
                            },
                            "isStarred": {
                              "type": "boolean",
                              "example": false
                            },
                            "fromMe": {
                              "type": "boolean",
                              "example": true
                            },
                            "hasQuotedMsg": {
                              "type": "boolean",
                              "example": false
                            },
                            "hasReaction": {
                              "type": "boolean",
                              "example": false
                            },
                            "vCards": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": [
                                "BEGIN:VCARD\\nVERSION:3.0\\nN:title;firstname;lastname;secondname;additionalname\\nFN:displayname\\nTEL;type=CELL;waid=xxxxxxxxxxxx:+1155123456789\\nEND:VCARD"
                              ]
                            },
                            "mentionedIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": []
                            },
                            "groupMentions": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": []
                            },
                            "isGif": {
                              "type": "boolean",
                              "example": false
                            },
                            "links": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": []
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/instances/{id}/client/action/send-location": {
      "post": {
        "tags": [
          "message"
        ],
        "summary": "Send Location",
        "description": "Send a location message to a contact or group chat. The location can include additional details like name, address and URL.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the instance.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "chatId",
                  "latitude",
                  "longitude"
                ],
                "properties": {
                  "chatId": {
                    "type": "string",
                    "example": "50664083362@c.us",
                    "description": "Chat ID <countrycode_short><usernumber>@c.us or @g.us for groups"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "example": 37.422,
                    "description": "Latitude coordinate of the location"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "example": -122.084,
                    "description": "Longitude coordinate of the location"
                  },
                  "options": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Googleplex",
                        "description": "Optional. Name or title of the location"
                      },
                      "address": {
                        "type": "string",
                        "example": "1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA",
                        "description": "Optional. Full address of the location"
                      },
                      "url": {
                        "type": "string",
                        "example": "http://google.com",
                        "description": "Optional. URL associated with the location"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "items": {
                        "type": "string",
                        "example": "success"
                      },
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "instanceId": {
                      "type": "string",
                      "example": "1",
                      "description": "The ID of the instance"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_data": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "object",
                              "properties": {
                                "fromMe": {
                                  "type": "boolean",
                                  "example": true
                                },
                                "remote": {
                                  "type": "string",
                                  "example": "xxxxxxxxxxxx@c.us"
                                },
                                "id": {
                                  "type": "string",
                                  "example": "XXXXXXXXXXXXXXXXXXXX"
                                },
                                "self": {
                                  "type": "string",
                                  "example": "out"
                                },
[...]
